parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     reservations
    database_user:     kaunas3
    database_password: beisiekailiequae

    locale:            lt
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          false
    debug_redirects:        false
    use_assetic_controller: true

    mailer_transport: gmail
    mailer_user: info.reservations.nfq
    mailer_password: ruduO2014
