{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ "resetting.reservations_password_reset"|trans }}{% endblock %}

{% block fos_user_content %}
    {% include 'ReservationsFrontendBundle:Reservations:header.html.twig' %}

    <div class="dialog">
        <div class="panel panel-default">
            <p class="panel-heading no-collapse">{{ "resetting.reservations_password_reset"|trans }}</p>
            <div class="panel-body">
                {{ 'resetting.check_email'|trans({'%email%': email}) }}
            </div>
        </div>
    </div>

{% endblock %}
