{% extends '::base.html.twig' %}

{% block title %}{{ "reservations.frontend.for_bussines"|trans }}{% endblock %}

{% block body -%}

    {% include 'ReservationsFrontendBundle:Reservations:header.html.twig' %}
    {% include 'ReservationsFrontendBundle:Reservations:navigation.html.twig' %}

    <div class="content">
        <div class="header">
            <h1 class="page-title">Dashboard</h1>
        </div>
        <div class="main-content">

            {{ form(edit_form) }}

        </div>
        {{ form(delete_form) }}
    </div>

{% endblock %}
