{% extends '::base.html.twig' %}

{% block title %}{{ bar.name }}{% endblock %}

{% block body %}

    <div id="panorama" style="height: 400px;"></div>

    <div class="dialog" style="max-width: 50%;">
        <div class="panel panel-default">
            <p class="panel-heading no-collapse">Sign In</p>
            <div class="panel-body">

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var panorama;
        $(document).ready(function(){
            panorama = GMaps.createPanorama({
                el: '#panorama',
                lat : {{ bar.lat }},
                lng : {{ bar.lng }}
            });
        });
    </script>
{% endblock %}
