{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="alert alert-success" role="alert">
        Registracija sėkminga! Dabar galite naudotis mūsų paslauga.
    </div>
{% endblock fos_user_content %}
