<div class="sidebar-nav">
    <ul>
        <li><a href="" class="nav-header"><i class="fa fa-glass"></i> {{ "reservations.frontend.dashboard.reservations"|trans }}</a></li>
        <li><a href="" class="nav-header"><i class="fa fa-check-square-o"></i> {{ "reservations.frontend.dashboard.reservations"|trans }}</a></li>
    </ul>
</div>
