<html lang="lt"><head>
    <title>Email</title>
    <meta name="description" content="">
    <meta name="author" content="">
	<style>
	  body {background-color:lightgray; font-family: Tahoma, "Times New Roman", Times, serif;}
	</style>
</head>
<body class=" theme-blue">
    <div>
        <h2>Sveiki, {{ reservation.name }}</h2>

        <p>Jūsų rezervacija {{ reservation.barId.name }} buvo Atšaukta.</p>

        <p>Linkime geros dienos!</p>
    </div>
</body>
</html>
