<html lang="lt"><head>
    <title>Email</title>
    <meta name="description" content="">
    <meta name="author" content="">
	<style>
	  body {background-color:lightgray; font-family: Tahoma, "Times New Roman", Times, serif;}
	</style>
</head>
<body class=" theme-blue">
    <div>
        <h2>Sveiki, {{ reservation.name }}</h2>

        <p>Ačių kad rezervavote mūsų tinklalapyje.</p>
        <p>Jūsų rezervacijos kodas: <strong>{{ reservation.code }}</strong></p>
        <p>Jūs rezervavote: <strong>{{ reservation.date|date('Y-m-d') }}</strong> dieną. {{ reservation.time|date('H:i') }} val</p>
        <p>Apie galutinį patvirtinimą informuosime dar vienu laišku.</p>

        <p>Linkime geros dienos!</p>
    </div>
</body>
</html>
