<html lang="lt"><head>
    <title>Email</title>
    <meta name="description" content="">
    <meta name="author" content="">
	<style>
	  body {background-color:lightgray; font-family: Tahoma, "Times New Roman", Times, serif;}
	  h2   {color:blue}
	  p    {color:green}
	</style>
</head>
<body class=" theme-blue">
 
<div>
 
<div >
    <div>
        <div>
            <div>
                <h2>Sveiki, {{ name }}</h2>
                
                <p>Ačių kad rezervavote mūsų tinklalapyje.</p>
                <p>Jūsų rezervacijos kodas: <strong>{{ code }}</strong>.</p>
				<p>Apie galutinį patvirtinimą informuosime dar vienu laišku.</p>
				
				<p>Linkime geros dienos!</p>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>